*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

h4{
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar__link{
    margin: 20px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
}

.container__product{
    display: flex;
    flex-flow: column;
    align-items: center;
}


.product__image{
    width: 100px;
    height: 100px;
}

.product__description{
    text-align: center;
}


.navbar--footer{
    display: flex;
    justify-content: center;
}

footer{
    margin-top: 40px;
}






